@import "variables";
@import "mixins";

@media (min-width: 1024px) and (min-height: 780px) {
  .appLayout {
    display: flex;
    flex-direction: column;
    height: 100vh;
    .layout-body {
      display: flex;
      height: 100vh;
    }
    .content {
      display: flex;
      flex-direction: column;
      margin: 68px 90px 86px 107px;
      width: 100%;
      gap: 77px;
    }
    .content-body {
      display: flex;
      flex-direction: row;
    }
  }
}
