@import "variables";
@import "mixins";

@media (min-width: 1024px) and (min-height: 780px) {
  .appLayout {
    display: flex;
    flex-direction: column;
    height: 100vh;
    .layout-body {
      display: flex;
      height: 100%;
      align-items: center;
    }
  }
}
