@import "variables";
@import "mixins";

.cards-container {
  display: flex;
  flex-direction: column;
  margin-left: 31px;
  gap: 39px;
  .calories {
    .card-image {
      background-color: rgba(255, 0, 0, 0.06);
    }
  }
  .proteins {
    .card-image {
      background-color: rgba(74, 184, 255, 0.06);
    }
  }
  .carbs {
    .card-image {
      background-color: rgba(249, 206, 35, 0.06);
    }
  }
  .lipids {
    .card-image {
      background-color: rgba(253, 81, 129, 0.06);
    }
  }
}

@media (min-width: 1024px) and (min-height: 780px) and (max-width: 1439px) and (max-height: 1023px) {
  .cards-container {
    flex-direction: row;
    margin: 0;
  }
}
