@import "variables";
@import "mixins";

@media (min-width: 1024px) and (min-height: 780px) {
  .title {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 41px;
    .title-header {
      @include flex-center;
      text-align: start;
      gap: 6px;
      font-size: rem(48);
      font-weight: 500;
      .hello {
        margin: 0px;
      }
      .name {
        color: $primary-color;
        margin: 0px;
      }
    }
    .subtitle {
      font-size: 1rem;
      margin: 0;
    }
  }
}
